<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <label for="name">name</label>
        <input type="text" name="name" value="{{a.name}}">

        <label for="fund_code">fund_code</label>
        <input type="number" name="fund_code" value="{{a.fund_code}}">

        <label for="investment">investment</label>
        <input type="number"name="investment" value="{{a.investment}}">

        <label for="uni_theld">uni_theld</label>
        <input type="number" name="uni_theld" value="{{a.uni_theld}}">

        <input type="submit" value="submit">
    </form>
</body>
</html>